.auth-page{
  height: calc(100vh - 2rem - 6rem - 64px - 64px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px!important;
  .row{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .auth-title{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }
  .auth-form{
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .auth-form-footer{
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    text-align: center;
    color: var(--text);
    a{
      color: var(--text);
      text-decoration: none;
      text-decoration: underline;
    }
  }
}