.reactoso.container {
  margin: auto;
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  // &.sm {
  //   max-width: 800px;
  // }

  // &.md {
  //   max-width: 1000px;
  // }

  // &.lg {
  //   max-width: 1300px;
  // }
}
