@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Medium.ttf");
  // src: url("./fonts/Lato-Heavy.ttf");
  // src: url("./fonts/Lato-Regular.ttf");
}
* {
  margin: 0;
  padding: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato";
  letter-spacing: 0.25px;
}
body {
  background-color: var(--background);
}

:root[theme="light"] {
  --accent: rgba(215,113,88,1);
  --primary: #FEC802;
  --primary-light: #FEC802;
  --text: rgba(58,52,51,1);
  --text-secondary: rgba(58,52,51,0.7);
  --background: rgba(255,255,255,1);
  --background-backdrop: rgba(255,255,255, 0.75);
  --background-variant: rgba(251,249,249,1);
  --border: rgba(58,52,51,0.12);
  --border-dark: rgba(58,52,51,0.24);
  --border-light: rgba(58,52,51,0.05);
  --positive: #29b58e;
  --positive-light:  #29b58e26;
  --negative: #dd2626;
  --negative-light: #dd262626;
  --neutral: rgba(58,52,51,0.7);
  --neutral-light: #eaf0f0;
}

:root[theme="dark"] {
  --accent: rgba(220,120,95,1);
  // --primary: #29b58e;
  // --primary-light: #4BD3AD;
  --primary: #fc1a41;
  --primary-light: #d57780;
  --text: rgba(241,233,231,1);
  --text-secondary: rgba(241,233,231,0.6);
  --background: rgba(0,0,0,1);
  --background-backdrop: rgba(0, 0, 0, 0.75);
  --background-variant: rgba(28,26,26,1);
  --border: rgba(241,233,231,0.15);
  --border-dark: rgba(241,233,231,0.30);
  --border-light: rgba(241,233,231,0.15);
  --positive: #29b58e;
  --positive-light:  #29b58e3d;
  --negative: #dd2626;
  --negative-light: #dd262652;
  --neutral: rgba(241,233,231,0.6);;
  --neutral-light: rgba(241,233,231,0.19);
}

.dark {
  background-color: var(--background);
}
.page-wrapper{
  max-width: 960px;
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 64px auto 0 auto!important;
  box-sizing: border-box;
}
.positive{
  color: var(--positive);
}
.negative{
  color: var(--negative);
}
.primary{
  color: var(--text);
}
.secondary{
  color: var(--text-secondary);
}
.text-center{
  text-align: center;
}
.page-content-centered{
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 320px;
  width: 100%;
  margin: 0 auto;
}