.input-wrapper{
  input{
    border: 1px solid var(--border-light);
    padding: 0.75rem;
    width: 100%;
    font-size: 14px;
    outline: none;
    color: var(--text);
    background-color: var(--background);
    transition: border-color 0.5s ease;
    box-sizing: border-box;
    &:focus{
      border-color: var(--text-secondary);
    }
  }
  label{
    color: var(--text);
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
  }
}